<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Users</h4>
            </div><!-- end card header -->
            <div class="align-items-center justify-content-end m-2 d-flex">
                <button *ngIf="resourceConstants.USER | hasCreatePermission" type="button"
                    class="btn btn-light m-2 mx-3" (click)="addUser()">Add New User</button>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="table-responsive table-card">
                        <table class="table align-middle table-nowrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">Email</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col" style="width: 150px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of content; track item.id) {
                                <tr>
                                    <td>{{ item.email }}</td>
                                    <td>{{ item.firstName }}</td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-light">Details</button>
                                    </td>
                                </tr>
                                } @empty {
                                <li>No items available.</li>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div><!-- end row -->